<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>CsED</title>

    <!-- Import Montserrat font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

    <!-- Normalize.css fixes lot of differences between browsers default styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css"/>

    <!-- project wide styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/site.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/background.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/card.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/table.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/grid.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/utils.css') }}">

    <!-- page specific styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/detailed-view.css') }}">

</head>

<body>
<div id="body-wrapper">
    <header class="clearfix">
        <img id="header-logo" src="{{ url_for('static', filename='assets/codecool-logo.png') }}" alt="Codecool Logo">
        <span id="header-title" class="title">
                    Codecool Series DB
                </span>
        <div id="header-auth">
            <button type="button" id="bt_register">Register</button>
            <button type="button" id="bt_login">Login</button>
        </div>
    </header>
    <section>
        <h1 class="title text-center">Welcome page</h1>
        <div class="card" id="dummyPage">
            <h2>Welcome TV show lovers!</h2>
            <p>This great site is happy to bring you your favourite TV show's <i>details</i>.</p>
            <p></p>
            <p>Okay, actually this is a designed dumb page without any logic.</p>
            <p>You can find a navigational element, the so called "breadcrumb" above the page's title. Use it for
                in-depth
                navigation.
            </p>
        </div>

        <div class="card detailed-view">
            <div class="row">
            {%  if show[0].trailer %}
                <iframe width="300" height="300" src="https://www.youtube.com/embed/{{ show[0].trailer }}">
                    Trailer not available.
                </iframe>
            {% endif %}
                <div class="col col-twothird" id="description">
                    <h2>{{ show[0].title }}</h2>
                    <p class="small grayed"><span class="separator">|</span>{{ show[0].year }}<span
                            class="separator">|</span>
                        {% if show[0].genres| length < 3 %}
                            {% for i in range(show[0].genres|length) %}
                                {% if i < show[0].genres| length - 1 %}
                                    {{ show[0].genres[i] }},
                                {% else %}
                                    {{ show[0].genres[i] }}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% for i in range(3) %}
                                {% if i < show[0].genres| length - 1 %}
                                    {{ show[0].genres[i] }},
                                {% else %}
                                    {{ show[0].genres[i] }}
                                {% endif %}
                            {% endfor %}
                        {% endif %} <span class="separator">|</span>
                    </p>
                    <p>
                        {{ show[0].overview }}
                    </p>
                </div>
            </div>
            <div>


                <p><b>Stars:</b>{% if show[0].actors| length < 3 %}
                    {% for i in range(show[0].actors|length) %}
                        {% if i < show[0].actors| length - 1 %}
                            <a href="#">{{ show[0].actors[i] }}</a>,
                        {% else %}
                            <a href="#">{{ show[0].actors[i] }}</a>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% for i in range(3) %}
                        {% if i < show[0].actors| length - 1 %}
                            <a href="#">{{ show[0].actors[i] }}</a>,
                        {% else %}
                            <a href="#">{{ show[0].actors[i] }}</a>
                        {% endif %}
                    {% endfor %}
                {% endif %}

            </div>
        </div>

        <div class="card">
            <h2>Cast</h2>
            <table>
                <thead>
                <th>Actor</th>
                <th>Character</th>
                </thead>
                <tbody>
                {% for i in range(show[0].actors | length) %}
                    <tr>
                    <td>
                        {{ show[0].actors[i] }}
                    </td>
                    <td>
                        {{ show[0].characters[i] }}
                    </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    {% for season in show[0].seasons %}
        <div class="card">
            <h2>{{ season.title }}</h2>
            {% if season.overview != None %}
            <p>{{ season.overview }}</p>
        {% endif %}
        <h3>Episodes</h3>
        <table>
            <thead>
            <th>
                Episode Number
            </th>
            <th>
                Episode Title
            </th>
            <th>
                Episode Description
            </th>
            </thead>
            <tbody>
                {% for i in range(season.episode_number | length) %}
                    <tr>
                    <td>
                      {{ season.episode_number[i] }}
                    </td>
                    <td>
                        {{ season.episode_title[i] }}
                    </td>
                    <td>
                        {%  if season.episode_description[i] != None %}
                        {{ season.episode_description[i] }}
                        {%  endif %}
                    </td>
                    </tr>
                    {%  endfor  %}
            </tbody>
        </table>
        </div>
    {% endfor %}

    </section>
    <footer>
        Copyright, bla-bla
    </footer>
</div>
<div class="background">
    <div class="dark-blue-layer"></div>
    <div class="light-blue-layer"></div>
</div>
<script src="{{ url_for('static', filename='scripts/show_page.js') }}" defer></script>
</body>

</html>